section {
    padding: 0 0 200px;
}

section.hero {
    padding: 200px 0 200px;
    margin-bottom: 100px;
    background: url(https://pbs.twimg.com/profile_images/786566676003196932/-5_T3lSz_400x400.png);
    background-repeat: no-repeat;
    background-position: right bottom;
    background-size: 400px;
}

@media (max-width:990px) {
  section.hero {
    background-size: 300px;
  }
}

@media (max-width:425px) {
  section.hero {
    background-size: 200px;
  }
}

.hero h1.ui.header:before {
  display: none;
}

.hero h1.ui.header {
  padding-left: 0;
  font-size: 3.5rem;
}

section > h1:before {
  content: "";
  display: block;
  width: 20px;
  height: 2px;
  background: #000000;
  margin-right: 10px;
  position: absolute;
  top: 50%;
  left: 0px;
}

section > h1.ui.header {
  position: relative;
  padding-left: 30px;
}

.ui.segment {
  margin: 20px 0;
}
